<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/friends">Home</a>
    <form action="/logout" method="POST">
        {% csrf_token %}
        <a href="/main">Log out</a>
    </form>  

    <h3>{{ showuser.alias }}'s Profile:</h3>
    <p>Name: {{ showuser.name }}</p>
    <p>Email Address: {{ showuser.email }}</p>


</body>
</html>